<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Cart - Bruno's Pizzeria</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" type="text/css" href="/static/css/order-style.css" />
  </head>
  <body>
    <div>
      <header>
        <div class="main">
          <div class="slider">
            <div class="content">
              <a href="/" class="logo">Bruno's Pizzeria</a>
              <ul>
                <li class="active">
                  <a href="/order"><b>Order now</b></a>
                </li>
                <li>
                  <a href="/admin"><b>Admin</b></a>
                </li>
                <li>
                  <a href="#"><b>Features</b></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </header>

      <div class="orderdiv">
        <h1>Your Cart</h1>
        <div class="pizza-list" id="cart-items">
          <!-- Cart items will be displayed here -->
          <h1 id="removeIfNotEmpty" class="text-center mt-5" style="color: red">
            Your cart is empty!
          </h1>
        </div>

        <div
          class="text-center mt-3 font-italic"
          style="font-size: xx-large; font-weight: bolder"
        >
          Total: $<span id="total">0</span>
        </div>

        <button
          id="placeOrderButton"
          class="btn btn-success"
          onclick="placeOrder()"
          style="width: 300px; margin-top: 30px"
        >
          Place Order
        </button>
      </div>
    </div>

    <script>
      fetch("/api/cart")
        .then((response) => {
          if (!response.ok) {
            throw new Error("Network response was not ok");
          }
          return response.json();
        })
        .then((data) => {
          const cartItemsContainer = document.getElementById("cart-items");
          const placeOrderButton = document.getElementById("placeOrderButton");
          if (data.items && data.items.length > 0) {
            document.getElementById("removeIfNotEmpty").style.display = "none";
            data.items.forEach((pizza) => {
              cartItemsContainer.innerHTML += `
                            <div class="pizza-item">
                                <div class="pizza-item-div">
                                    <p class="topic2">${pizza.name}</p>
                                    <p class="topic3">$${pizza.price}</p>
                                    <p class="para">${pizza.description}</p>
                                    <button class="btn btn-danger" onclick="removeFromCart('${pizza.id}')">Remove from Cart</button>
                                    <button class="btn btn-primary" onclick="addToCart('${pizza.id}')">Add Another</button>
                                </div>
                            </div>`;
            });

            const totalElement = document.getElementById("total");
            totalElement.innerHTML = data.total;
            placeOrderButton.disabled = false; // Enable the button when there are items
          } else {
            cartItemsContainer.innerHTML = `<h1 id="removeIfNotEmpty" class="text-center" style="color: red">Your cart is empty!</p>`;
            placeOrderButton.disabled = true; // Disable the button when the cart is empty
          }
        })
        .catch((error) => console.error("Error fetching cart items:", error));

      function removeFromCart(pizzaId) {
        fetch("/api/removeFromCart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ pizza_id: pizzaId }),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
            throw new Error("Failed to remove pizza from cart");
          })
          .then(() => location.reload())
          .catch((error) =>
            console.error("Error removing pizza from cart:", error)
          );
      }

      function addToCart(pizzaId) {
        fetch("/api/addToCart", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({ pizza_ids: [pizzaId] }),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
            alert("Failed to add pizza to cart");
            throw new Error("Failed to add pizza to cart");
          })
          .then(() => location.reload())
          .catch((error) =>
            console.error("Error adding pizza to cart:", error)
          );
      }

      function placeOrder() {
        fetch("/api/placeOrder", {
          method: "POST",
          headers: {
            "Content-Type": "application/json",
          },
          body: JSON.stringify({}),
        })
          .then((response) => {
            if (response.ok) {
              return response.json();
            }
            alert("Failed to place order");
            throw new Error("Failed to place order");
          })
          .then(() => {
            alert("Order placed successfully!");
            location.href = "/";
          })
          .catch((error) => console.error("Error placing order:", error));
      }
    </script>
  </body>
</html>
